[submodule "top/Scripts"]
	path = top/Scripts
	url = codesign:sda/src/common/Scripts.git
	branch = master
[submodule "top/opt4j"]
	path = top/opt4j
	url = codesign:sda/src/opendse/opt4j.git
	branch = jfalk/3.3.0
[submodule "top/opendse"]
	path = top/opendse
	url = codesign:sda/src/opendse/opendse.git
	branch = master
[submodule "top/opendse-example"]
	path = top/opendse-example
	url = codesign:sda/src/opendse/opendse-example.git
	branch = master
